.Kanit{
    font-family: 'Kanit', sans-serif;
    font-family: 'Mitr', sans-serif;
}
.carousel-item{
    height: 500px;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}